Django
dj-database-url
dj-static
django-analytical
django-bootstrap3
django-compressor
django-htmlmin>
django-jquery
django-robots
django-toolbelt
greenlet
gevent
gunicorn
mandrill
newrelic
psycopg2
pytz
static
virtualenv
wsgiref

