body, html {
    background-image: url(img/royal_fashion_logo.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
    background-color: #ffffff;
}
