{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static from staticfiles %}

{% block title %} Nyheder {% endblock %}
{% block pagedescription %} Royal Fashion Copenhagen - nyheder vedrørende alt fra nye kollektioner til konkurrencer. {% endblock %}

{% block content %}

<section>
    <h2>Nyheder</h2>
    
    {% for news in news_posts %}
    {% if forloop.counter0|divisibleby:"2" or forloop.first %}
    <div class="row">
    {% endif %}
    
        <div class="col-md-6">
            <article id="{{ news.slug }}-{{ news.id }}" class="news-post">
                <h3><a href="{{ news.get_absolute_url }}" title="{{ news.title }}">{{ news.title }}</a></h3>
                <p class="text-center"><em><time datetime="{{ news.added|date:'c' }}">{{ news.added|date:"j. F Y" }}</time>.</em></p>
                
                <div>{{ news.body|safe }}</div>        
                
                {% for image in news.images.all %}
                {% if forloop.counter0|divisibleby:"2" or forloop.first %}<div class="row">{% endif %}
                
                    <div class="col-md-6">
                        <a href="{{ image.get_absolute_url }}" title="{{ image.image_title }}">
                            <img class="img-responsive img-centered news-image" alt="{{ image.image_title }}" src="{{ image.get_absolute_url }}">
                        </a>
                    </div>        
                
                {% if not forloop.first or forloop.last %}{% if forloop.counter|divisibleby:"2" or forloop.last %}</div>{% endif %}{% endif %}
                {% endfor %}        
            </article>
        </div>
        
    {% if not forloop.first or forloop.last %}{% if forloop.counter|divisibleby:"2" or forloop.last %}</div>{% endif %}{% endif %}
    
    {% empty %}
    <p class="text-center">Ingen nyheder fundet.</p>
    
    {% endfor %}

</section>

{% endblock %}