{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static from staticfiles %}

{% block title %}{{ news.title }} - Nyheder{% endblock %}
{% block pagedescription %} Royal Fashion Copenhagen - nyheder vedrørende alt fra nye kollektioner til konkurrencer. {% endblock %}

{% block content %}

<section>
    <h2>{{ news.title }}</h2>
    <p class="text-center"><em><time datetime="{{ news.added|date:'c' }}">{{ news.added|date:"j. F Y" }}</time>.</em></p>
    
    <div>{{ news.body|safe }}</div>        
    
    {% for image in news.images.all %}
    {% if forloop.counter0|divisibleby:"3" or forloop.first %}<div class="row">{% endif %}
    
        <div class="col-md-4">
            <a href="{{ image.get_absolute_url }}" title="{{ image.image_title }}">
                <img class="img-responsive img-centered news-image" alt="{{ image.image_title }}" src="{{ image.get_absolute_url }}">
            </a>
        </div>        
    
    {% if not forloop.first or forloop.last %}{% if forloop.counter|divisibleby:"3" or forloop.last %}</div>{% endif %}{% endif %}
    {% endfor %}        

</section>

{% endblock %}
