<!DOCTYPE html>

{% load google_analytics %}
{% load static from staticfiles %}
{% load bootstrap3 %}
{% load compress %}
{% load base_extras %}

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        
        <meta name="description" content="{% block pagedescription %}{% endblock %}"/>
        <meta name="author" content="Alpha Stage Studios - Rami@alphastagestudios.com"/>
        
        <!--<link rel="publisher" href="" />-->
        <link rel="author" href="//www.royalfashioncph.dk{% url 'humanstxt' %}" />
        
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
        <link rel="icon" type="image/x-icon"  href="{% static 'favicon.ico' %}" >
        <link rel="favicon" type="image/x-icon"  href="{% static 'favicon.ico' %}" >
        
        <link rel="prefetch" src="{% static 'img/royal_fashion_logo.png' %}" alt="Royal Fashion Copenhagen Logo" />
        
        {% bootstrap_css %}
        
        <link href='//fonts.googleapis.com/css?family=Gentium+Basic' rel='stylesheet' type='text/css' media="all">
        
        {% compress css inline %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" charset="utf-8" media="all">
        {% endcompress %}
        
        <title>
            {% block title %}{% endblock %} | Royal Fashion Copenhagen
        </title>
        
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
        
        {% google_analytics %}
        
        {% block endhead %}
        
        {% endblock %}
    </head>
    
    <body>
        <div class="container-fluid">
            <!-- SIDEBAR BEGIN -->
            <div class="sidebar">
                <ul class="nav nav-sidebar">
                    <li class="{% navactive request 'home' %}">
                        <a title="Hjem" href="{% url 'home' %}">HJEM</a>
                    </li>
                    <li class="{% navactive request 'om-os' %}">
                        <a title="Om Os" href="{% url 'om-os' %}">OM OS</a>
                    </li>
                    <li class="{% navactive request 'nyheder' %}">
                        <a title="Nyheder" href="{% url 'nyheder' %}">NYHEDER</a>
                    </li>
                    {% for collection in collections %}
                    <li class="{% navactive_complex request 'shop' collection.slug %}">
                        <a title="{{ collection.name }}" href="{{ collection.get_absolute_url }}">{{ collection.name|upper }}</a>
                    </li>
                    {% endfor %}
                </ul>                
            </div>
            <!-- SIDEBAR END -->
            
            <div class="page-container">
                
                <!-- PAGE HEADER BEGIN -->
                <header class="header">
                    <a href="{% url 'home' %}" title="Royal Fashion Copenhagen">
                        <img id="header-logo" class="img-responsive img-centered" alt="Royal Fashion Copenhagen Logo" src="{% static 'img/royal_fashion_logo.png' %}">
                    </a>
                </header> 
                <!-- PAGE HEADER END -->
                
                <!-- PAGE CONTENT BEGIN -->
                <div id="main-content-container" class="container content-main">
                    {% block content %}
                    {% endblock %}
                </div>
                <!-- PAGE CONTENT END -->
                
                <!-- AddThis Follow BEGIN -->
                <div class="addthis_toolbox addthis_32x32_style addthis_default_style follow-box">
                    <p class="follow-text">
                        Følg os
                    </p>
                    <a class="addthis_button_facebook_follow" title="Følg os på Facebook" addthis:userid="Royalfashion.dk">
                        <!--<img id="facebook-follow-button" src="{% static 'img/facebook.png' %}">-->
                    </a>
                    <a title="Find os på Trendsales" target="_blank" href="//www.trendsales.dk/search/?f=UserId=886680;v=gallery">
                        <img id="trendsales-link" class="img-rounded" src="{% static 'img/trendsales-link.jpg' %}">
                    </a>
                </div>
                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53062a980fcd97b7"></script>
                <!-- AddThis Follow END -->                  
                
                <!-- FOOTER BEGIN -->
                <footer class="footer">
                    <div class="row">
                        <div class="col-md-4">
                            <p class="text-center">
                                <br>
                                Copyright &copy; 2014 Royal Fashion IVS 
                            </p>
                            <p class="text-center">
                                CVR: DK-35639578
                            </p>
                        </div>
                        <div class="col-md-4">    
                            <img id="footer-logo" class="img-responsive img-centered" alt="Royal Fashion Copenhagen Logo" src="{% static 'img/royal_fashion_logo.png' %}">
                        </div>
                        <div class="col-md-4">                        
                            <section id="searchbox">
                                <form id="search_form" role="search" action="/search" method="get">
                                    {{ search_form.as_p }}
                                    <input type="text" name="q" placeholder="Søg i artikler">
                                </form>   
                                
                                <p>
                                    <a id="alpha-link" href="//www.alphastagestudios.com" target="_blank" title="This website was designed by Alpha Stage Studios">Alpha Stage Studios</a>
                                </p>                                         
                            </section>  
                            
                            
                        </div>
                    </div>
                </footer>   
                <!-- FOOTER END -->
                
            </div><!-- PAGE-CONTAINER END -->
        </div><!-- FLUID-CONTAINER END -->
        
        {# Load javascript at bottom for speed optimization #}
        <script type="text/javascript" src="//code.jquery.com/jquery-1.10.1.min.js"></script>
        
        {% compress js inline %}
        <script type="text/javascript">
            if (typeof jQuery == 'undefined') {
                document.write(unescape("%3Cscript src='{% static 'js/jquery.js' %}' type='text/javascript'%3E%3C/script%3E"));
            }
        </script>
        {% endcompress %}
                
        {# Load Bootstrap javascript #}
        {% bootstrap_javascript %}        
        
        {% block endbody %}
        {% endblock %}
        
    </body>    
</html>
