<!DOCTYPE html>

{% load google_analytics %}
{% load static from staticfiles %}
{% load bootstrap3 %}
{% load compress %}
{% load base_extras %}

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <meta name="description" content="{% block pagedescription %}{% endblock %}"/>
    <meta name="author" content="Alpha Stage Studios - Rami@alphastagestudios.com"/>

    <link rel="publisher" href="" />
    <link rel="author" href="//www.royalfashioncph.dk{% url 'humanstxt' %}" />

    <link rel="shortcut icon" type="image/x-icon" href="{% settings_value STATIC_URL %}favicon.ico">
    <link rel="icon" type="image/x-icon"  href="{% settings_value STATIC_URL %}favicon.ico" >
    <link rel="favicon" type="image/x-icon"  href="{% settings_value STATIC_URL %}favicon.ico" >

    {% bootstrap_css %}

    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>

    {% compress css inline %}
    <link rel="stylesheet" type="text/css" href="{% settings_value STATIC_URL %}css/style.css" charset="utf-8">
    {% endcompress %}

    <title>
        {% block title %}{% endblock %} | Royal Fashion Copenhagen
    </title>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    {% google_analytics %}
</head>

<body>
    <div class="container-fluid">
      <header class="header">

      </header>
    </div>

    <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
              <ul class="nav nav-sidebar">
                <li class="{% navactive request 'home' %}">
                    <a href="{% url 'home' %}">HJEM</a>
                </li>
                <li class="{% navactive request 'spring-collection' %}">
                    <a href="{% url 'spring-collection' %}">FORÅRSKOLLEKTION</a>
                </li>
                <li class="{% navactive request 'om-os' %}">
                    <a href="{% url 'om-os' %}">OM OS</a>
                </li>
              </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <div class="content-main">
                    {% block content %}
                    {% endblock %}
                </div><!-- /container -->

                <footer class="footer">
                    <div class="row">
                        <div class="col-md-4">
                            <p class="text-center">
                                Privacy
                            </p>
                        </div>
                        <div class="col-md-4">
                            <p class="text-center">
                                Logo
                            </p>
                        </div>
                        <div class="col-md-4">
                            <p class="text-center">
                                Sitemap
                            </p>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
      </div>
    </div>







    {# Load javascript at bottom for speed optimization #}
    <script type="text/javascript" src="//code.jquery.com/jquery-1.10.1.min.js"></script>

    {% compress js inline %}
    <script type="text/javascript">
        if (typeof jQuery == 'undefined') {
            document.write(unescape("%3Cscript src='{% settings_value STATIC_URL %}js/jquery.js' type='text/javascript'%3E%3C/script%3E"));
        }
    </script>
    {% endcompress %}


    {# Load Bootstrap javascript #}
    {% bootstrap_javascript %}


</body>

</html>
