{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static from staticfiles %}

{% block title %} Hjem {% endblock %}
{% block pagedescription %} Royal Fashion Copenhagen - vi sælger royalt fashion til overkommelige priser. {% endblock %}


{% block content %}
<article id="index">
    <h2>Royal Fashion Copenhagen</h2>
    <p class="text-center">
        <em>Velkommen til Royal Fashion Copenhagen's nye hjemmeside!</em>
    </p>
    <p>
        Vær venligst opmærksom på at denne hjemmeside er helt ny og stadig under opbygning, fejl og mangler kan forekomme og vi forebeholder os ret til at ændre på alt uden varsel.
    </p>
</article>

{% endblock %}
