{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static from staticfiles %}

{% block title %} Om Os {% endblock %}
{% block pagedescription %} Om Royal Fashion Copenhagen - vi sælger royalt fashion til overkommelige priser. {% endblock %}


{% block content %}

<article id="om-os">
    <h2>Om Os</h2>
    <p class="text-center"><em>Royal Fashion tilbyder dametøj i forskellige stilarter, til trendy kvinder i alle aldre. </em></p>
    <p>
        Vi specialiserer os i at sælge tøj til kvinder, der sætter pris på originalitet og kvalitet. Vi er en ung og dynamisk virksomhed, der ønsker at tilbyde vores kunder det bedste. Ved køb af vores tøj, kan vi garantere at det er udført af højeste kvalitets materialer og syningen er udført på perfekt vis. Tøjet er designet af luftigt, let materiale og udført så det passer flot til kroppens former. I vores tøj vil du til enhver tid føle dig feminin og original. 
    </p>
    <p>
        Fordi vi er et nyt firma på det danske marked, betyder det at vi endnu ikke har et alt for stort udvalg af varer. Men du kan altid spørge os om tilgængelighed af et ønsket produkt eller for at bestille dette. 
    </p>
    <p>
        Ved at købe vores produkter har du garanti for en transaktion på et højt fagligt niveau. Hvis et produkt ikke lever op til jeres forventninger kan du altid returnere det (i nøjagtig samme tilstand som vi har sendt det til dig). 
        <br>Vi gør alt for at sikre, at kunderne er fuldt tilfredse med deres køb.
    </p>
    <p>
        Du kan indtil videre købe vores produkter på Trendsales. <br>
        Hvis du har nogle spørgsmål, bedes du sende os en <a title="info@royalfashioncph.dk" href="mailto:info@royalfashioncph.dk">email</a>.       
    </p>
</article>

<article id="kontakt-os">
    
</article>


{% endblock %}
