{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %} {{ collection.name }} {% endblock %}
{% block pagedescription %} {{ collection.description }} {% endblock %}

{% block content %}
<article id="{{ collection.slug }}-{{ collection.id }}">
    <h2>{{ collection.name }}</h2>
    {% if collection.description %}<p class="text-center"><em>{{ collection.description }}</em></p>{% endif %}
    
    <section>
    {% for product in products %}
        {% if forloop.counter0|divisibleby:"4" or forloop.first %}
        <div class="row">
        {% endif %}            
            <div class="col-md-3">
                <div class="shop-list-item">
                    <a title="{{ product.name }}" href="{{ product.get_absolute_url }}">
                        <h3>{{ product.name }}</h3>
                        {% if product.description %}<p><em>{{ product.description }}</em></p>{% endif %}
                        <p>Pris: {{ product.price }} DKK</p>
                        
                        {% with sizes=product.get_sizes_string %}
                        {% if sizes %}
                        <p>
                            Størrelser: 
                            {% if 'XS' in sizes %}XS/{% endif %}
                            {% if 'S' in sizes %}S/{% endif %}
                            {% if 'M' in sizes %}M/{% endif %}
                            {% if 'L' in sizes %}L/{% endif %}
                            {% if 'XL' in sizes %}XL{% endif %}
                            
                            {% if '36' in sizes %}36/{% endif %}
                            {% if '37' in sizes %}37/{% endif %}
                            {% if '38' in sizes %}38/{% endif %}
                            {% if '39' in sizes %}39/{% endif %}
                            {% if '40' in sizes %}40/{% endif %}
                            {% if '41' in sizes %}41/{% endif %}
                            {% if '42' in sizes %}42/{% endif %}
                            {% if '43' in sizes %}43/{% endif %}
                            {% if '44' in sizes %}44/{% endif %}
                            {% if '45' in sizes %}45{% endif %}
                        </p>
                        {% endif %}
                        
                        {% with image=product.get_first_image %}
                        {% if image %}
                        <p><img class="img-responsive shop-image" alt="{{ image.image_title }}" src="{{ image.get_absolute_url }}"></p>
                        {% endif %}    
                        {% endwith %}
                    </a>
                </div>
            </div>
            
    {% if not forloop.first or forloop.last %}{% if forloop.counter|divisibleby:"4" or forloop.last %}</div>{% endif %}{% endif %}
    {% endfor %}
    </section>
    
</article>
{% endblock %}