{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %} {{ collection.name }} {% endblock %}
{% block pagedescription %} {{ collection.description }} {% endblock %}

{% block content %}
<article id="{{ collection.slug }}-{{ collection.id }}">
    <h2>{{ collection.name }}</h2>
    {% if collection.description %}<p class="text-center"><em>{{ collection.description }}</em></p>{% endif %}
    
    <section>
    {% for product in products %}
        {% if forloop.counter0|divisibleby:"4" or forloop.first %}
        <div class="row">
        {% endif %}            
            <div class="col-md-3">
                <div class="shop-list-item">
                    <a title="{{ product.name }}" href="{{ product.get_absolute_url }}">
                        <h3>{{ product.name }}</h3>
                        {% if product.description %}<p><em>{{ product.description }}</em></p>{% endif %}
                        <p>Pris: {{ product.price }} DKK</p>
                        {% with image=product.get_first_image %}
                        {% if image %}
                        <p><img class="img-responsive shop-image" alt="{{ image.image_title }}" src="{{ image.get_absolute_url }}"></p>
                        {% endif %}    
                        {% endwith %}
                    </a>
                </div>
            </div>
            
    {% if not forloop.first or forloop.last %}{% if forloop.counter|divisibleby:"4" or forloop.last %}</div>{% endif %}{% endif %}
    {% endfor %}
    </section>
    
</article>
{% endblock %}